<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I'm a designer &amp; developer living in the UK.</p>
		<p>By day I am a student, by night I am learning to code</p>
		<p>You can find me sharing some code on Github.</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Stuff I've Written</h2>
		<hr>

	</div>
	<div class="col-3 homepage_content">
		<h2>Stuff I've Built</h2>
		<hr>

	</div>
</div>