
<script src="app/assets/javascripts/calculator.js" type="text/javascript"></script>

<h1 style="text-align: center">Simple Calculator</h1>


<div id="calc-body">
        <div id="screen">
            <div id="sub"></div>
            <div id="main"></div>
        </div>
        <div id="controls">
            <!--row 1-->
            <button class="clear" value='clr-all'>AC</button>
            <button class="clear" value='clr'>C</button>
            <button class='clear' value='bksp'>&larrb;</button>
            <button class="operator" value='*'>&times;</button>

            <!--row 2-->
            <button class='digit' value='7'>7</button>
            <button class='digit' value='8'>8</button>
            <button class='digit' value='9'>9</button>
            <button class="operator" value='/'>&div;</button>

            <!--row 3-->
            <button class='digit' value='4'>4</button>
            <button class='digit' value='5'>5</button>
            <button class='digit' value='6'>6</button>
            <button class="operator" value='-'>&minus;</button>

            <!--row 4-->
            <button class='digit' value='1'>1</button>
            <button class='digit' value='2'>2</button>
            <button class='digit' value='3'>3</button>
            <button class="operator" value='+'>&plus;</button>
            <!-- row 5 -->
            <button class='digit' id='zero' value='0'>0</button>
            <button class='digit' value='.'>.</button>
            <button id='equals' value='='>&equals;</button>

        </div>
</div>



